Win32
QFaceDetectionAndLabelling.sdf
QFaceDetectionAndLabelling.suo
QFaceDetectionAndLabelling/Debug
QFaceDetectionAndLabelling/GeneratedFiles
QFaceDetectionAndLabelling/Release
QFaceDetectionAndLabelling/QFaceDetectionAndLabelling.vcxproj.user
